@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-FREE/Gilroy-ExtraBold.otf');
  }
  @font-face {
    font-family: SF Pro Display;
    src: url('../fonts/SF-Font-Pro/SF-Pro-Display-Regular.otf');
  }
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    background-color: #ffffff;
  }
  header {
    /* background-color: aqua; */
    padding: 10px 150px 10px 150px;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #EFEDEA;
  }
  
  header .search_box
  {
    width: 640px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #D6D3CB;
  }
  
  header .search_box img
  {
    margin: 0 10px;
  }
  
  header .search_box form
  {
    width: 90%;
    height: 90%;
  }
  
  header .search_box input
  {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    color: #918878;
    font-size: 18px;
    padding-left: 5px;
    font-family: SF Pro Display;
    font-weight: 500;
  }
  
  header .user_profile
  {
    display: flex;
    align-items: center;
  }
  
  header .user_profile img
  {
    cursor: pointer;
  }
  
  header .user_profile .user_initials
  {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 15px 0 25px;
    background-color: #e6ab39;
    border-radius: 50%;
    color: #ffffff;
    font-family: Gilroy;
    cursor: pointer;
  
  }

  header .btn1 {
    width: 110px;
    height: 40px;
    border-radius: 4px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(230,171,57,0.15);
  }
  
  header .btn1::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
      transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
      background-color: #E6AB39;
      opacity: 0;
  }
  
  header .btn1 a {
      z-index: 1;
      position: relative;
      color: #E6AB39;
  }
  
  header .btn1:hover a {
      color: hsl(222, 100%, 95%);
  }
  
  header .btn1:hover::before {
      opacity: 1;
      transition-duration: .85s;
      transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
  }
  
  
  header .btn-logout {
    background: rgba(230,171,57,0.15);
    color: #E6AB39;
    margin-left: 30px;
  }
  
  header .btn-logout a{
    color: #E6AB39;
    font-size: 18px;
    font-family: Gilroy;
  }
  
  a, a:hover, a:visited, a:active {
    text-decoration: none;
  }
  
  .products
  {
      padding-top : 80px;
  }

  .product_wrapper
  {
      margin-top: 80px;
      padding: 0 14%;
  }

  .product_wrapper .product_name
  {
      display: flex;
      justify-content: space-between;
  }

  .product_wrapper .product_name #search_product
  {
      font-size: 32px;
      font-weight: 900;
      font-family: Gilroy;
  }

  .product_wrapper .product_filter
  {
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border: 1px solid #e6ab39;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
  }

  .product_wrapper .product_filter img
  {
    width: 24px;
    height: 24px;
  }

  .product_wrapper .product_filter .filter_title
  {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #e6ab39;
    letter-spacing: 1px;
    font-family: SF Pro Display;
  }

  .product_wrapper .product_filter .filter_options
  {
    position: absolute;
    display: none;
    width: 120%;
    top: 100%;
    left: 0;
    border-radius: 5px;
    margin-top: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  }

  .product_wrapper .product_filter .filter_options p
  {
    font-size: 16px;
    color: #e6ab39;
    padding: 5px 0 5px 20px;
    font-family: SF Pro Display;
  }

  .product_wrapper .product_filter .filter_options p:hover
  {
    background: #f6f6f6;
  }

  .product_wrapper .product_list
  {
      padding-top: 40px;
  }

  .product_wrapper .product_list .product_card
  {
      width: 100%;
      height: 160px;
      /* border: 5px solid #f6f6f6; */
      background-color: #f6f6f6;
      display: flex;
      align-items: center;
      border-radius: 8px;
      margin-bottom: 30px;
      padding: 0 30px;
  }

  .product_wrapper .product_list .product_card.price_card
  {
    display: flex;
  }

  .product_wrapper .product_list .product_card.rating_card
  {
    display: none;
  }

  .product_wrapper .product_list .product_card .product_img
  {
    width: 160px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product_wrapper .product_list .product_card .product_img img
  {
      width: 140px;
      height: 100%;
  }

  .product_wrapper .product_list .product_card .product_details
  {
      height: 100%;
      padding: 20px 20px;
      width: 80%;
  }

  .product_wrapper .product_list .product_card .product_details .product_price
  {
    display: flex;
    align-items: center;
  }

  .product_wrapper .product_list .product_card .product_details .product_price>div
  {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      border-radius: 50%;
      margin-left: 10px;
  }

  .product_wrapper .product_list .product_card .product_details .product_price img
  {
      width: 26px;
  }

  .product_wrapper .product_list .product_card .product_details .product_price p
  {
      font-size: 22px;
      font-weight: 700;
      font-family: SF Pro Display;
  }

  .product_wrapper .product_list .product_card .product_details .product_info
  {
      padding: 5px;
      width: 80%;
  }

  .product_wrapper .product_list .product_card .product_details .product_info p
  {
      font-size: 14px;
      font-family: SF Pro Display;
      font-weight: 500;
      color: #6d6c6b;
  }

  .product_wrapper .product_list .product_card .product_details .product_rating
  {
      padding: 5px 0;
      display: flex;
      align-items: center;
  }

  .product_wrapper .product_list .product_card .product_details .product_rating .product_rating_points
  {
      margin-left: 6px;
      font-size: 14px;
      font-family: SF Pro Display;
      font-weight: 500;
      color: #6d6c6b;
  }


  .product_wrapper .product_list .product_card .product_details .stars_outer
  {
    position: relative;
    display: inline-block;
  }

  .product_wrapper .product_list .product_card .product_details .stars_outer .stars_inner
  {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
  }

  .product_wrapper .product_list .product_card .product_details .stars_outer::before
  {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #D6D3CB;
    font-size: 18px;
  }

  .product_wrapper .product_list .product_card .product_details .stars_inner::before
  {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #e6ab38;
    font-size: 18px;
  }

  .product_wrapper .product_list .product_card .product_buttons
  {
      display: flex;
      padding-right: 30px;
  }

  .product_wrapper .product_list .product_card .product_buttons .product_btn
  {
      padding: 10px;
      background-color: #ffffff;
      margin: 0 6px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  .product_wrapper .product_list .product_card .product_buttons .product_btn:hover
  {
    background-color: #efedea;
  }

  .product_wrapper .product_list .product_card .product_buttons .product_btn a{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .product_wrapper .product_list .product_card .product_buttons .product_btn img
  {
      width: 20px;
      height: 20px;
  }

  .product_wrapper .container_empty
  {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .product_wrapper .container_empty p
  {
      font-size: 48px;
      font-family: Gilroy;
      font-weight: 900;
      color: #e6ab39;
  }


